body {
    background-color:rgb(198, 245, 245);
}
#content {
  text-align:center;
}
p.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 750px
}
#greeting-container {
  margin-top: 20px;
}
